<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IDEALTAKE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IDEALTAKE.My.MySettings.Mysql_ConnectionString" connectionString="server=localhost;User Id=root;database=test080"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <IDEALTAKE.My.MySettings>
            <setting name="Couleur_Font" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="Compteur_image" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="Compteur_Groupe" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Size_Location_Image_centrale" serializeAs="String">
                <value />
            </setting>
            <setting name="Chemin_Image_Centrale" serializeAs="String">
                <value />
            </setting>
            <setting name="Chemin_Source1" serializeAs="String">
                <value />
            </setting>
            <setting name="Couleur_Recherche_Simplifiée" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="Couleur_Recherche_Guidée" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="Couleur_Recherche_Statistique" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Couleur_Recherche_Avancee" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="COLOR1" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Nom_de_la_connexion" serializeAs="String">
                <value />
            </setting>
            <setting name="Utiliser_toujours_cette_connexion" serializeAs="String">
                <value />
            </setting>
            <setting name="Activation_Synthese_Vocale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Langue_logiciel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Modification_Objet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RA_Référence_à_ajouter" serializeAs="String">
                <value />
            </setting>
            <setting name="Verrouillage_Script" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debugage_SCRIPT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RS_Référence_à_ajouter" serializeAs="String">
                <value />
            </setting>
            <setting name="Timer3_RS_MOTS_CLEFS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mots_clefs_à_ajouter" serializeAs="String">
                <value />
            </setting>
            <setting name="Type_Message_RS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Message_ERREUR_RS" serializeAs="String">
                <value />
            </setting>
            <setting name="Type_Message_RA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Message_ERREUR_RA" serializeAs="String">
                <value />
            </setting>
            <setting name="Type_Message_RG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Message_ERREUR_RG" serializeAs="String">
                <value />
            </setting>
        </IDEALTAKE.My.MySettings>
    </userSettings>
</configuration>
